img {
    width: 40px;
}
.navbar {
    background-color: #FFA208 !important;
}
.nav-link {
    color: #ffffff !important;
}
.card {
    display: inline-block !important;
    margin-top: 20px;
    margin-left: 100px;
    border: 2px #FFA208 solid;
    width: 200px !important;
    height: 290px !important;
}
.categh1 {
text-align: center;
color: #FFA208;
text-shadow: 2px 2px 5px black;
margin-top: 20px;
}
.card-img-top {
    height: 150px !important;
}
.card-title {
    size: 10px !important;
    color: #FFA208 !important;
}
.card-text {
    color: #FFA208 !important;
}
.btn {
    background-color: #FFA208 !important;
    color: white !important;
}
.footer {
    height: 30px;
    background-color: #FFA208;
    margin-top: 5px;
}
.footh {
    color: white;
    display: flex;
    justify-content: center;
}
.slidetext {
    color: #FFA208;
}
.abc {
    height: 500px !important;
    width: 100% !important;
}
.form-row , .form-group{
    width: 600px !important;
}
.form {
    margin-left: 350px;
    margin-top: 20px;
}
label{
    color: #FFA208;
}
.card1 {
    margin-top: 50px;
    text-align: center;
    border: 2px solid #FFA208;
    margin-left: 400px;
    width: 500px;  
}
.card-img-top1{
    width: 490px;
    height: 300px !important;
}
